* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
} 

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    margin-top: auto;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links a {
    color: #bbb;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }

  .footer-links a:hover {
    color: #00aced;
  }

  main {
    flex: 1;
  }